@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        height: 100%;
        min-height: 100%
    }
    #root {
        height: 100%;
    }
    h5, h4, h3, h2, h1 {
        font-weight: 700
    }

}

@layer components {
    .centered-fixed {
        position: fixed;
        left: 0;
        transform: translate(calc(50vw - 50%));
    }
    
    @variants hover{
        .close-rotate {
            transform: rotate(360deg);
            transition: .5s;
        }
    }
    .main-grid {
        grid-template-rows: 50px 1fr;
        grid-template-columns: 250px 1fr 250px;
    }
    .custom-textarea {
        @apply w-full bg-gray-700 border border-gray-400 rounded focus:ring-0 focus:border-gray-300 focus:outline-none px-2 py-3 text-gray-100 text-sm;
        resize: none;
        overflow-y: visible;
    }
    .recipient-results {
        width: calc(100% - 2rem);
        top: 50px;
    }

    .no-scrollbar::-webkit-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
        width: 0px;
    }

    .modified-scrollbar::-webkit-scrollbar {
        width: 10px;
    }
    .modified-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-400 rounded-md;
    }
    .modified-scrollbar::-webkit-scrollbar-track-piece {
        @apply bg-gray-900;
    }

    .modal-scrollbar::-webkit-scrollbar {
        width: 3px;
    }
    .modal-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-400;
    }
    .modal-scrollbar::-webkit-scrollbar-track-piece {
        @apply bg-gray-900;
    }

    #react-paginate ul {
        display: flex;
        gap: 0;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
    }
      
    /* #react-paginate li {
    display: inline-block;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 5px;
    color: gray;
    } */

    .modal-width {
        width: 28%
    }

    .sidebar-calc-height {
        height: calc(100% - 50px)
    }
}
